#nav-mobile
{
    background-color: #ffffff;
    font-family: Helvetica, Sans-Serif;
    color: #A9A9A9;
    font-size: 11pt;
    /*background-color: #00ff00;*/
}
#buddy
{
   background-color: #ffffff;
   font-family: Helvetica, Sans-Serif;
   color: #A9A9A9;
   font-size: 11pt;
   
}
.nav
{
   background-color: #ffffff;  
}



body{
  text-align:center;
  margin-top: 10%;
  margin-left:25%;
  margin-right:25%;
  margin-bottom:10%;
  background-color: #fffff5; /*off white*/
  background-image: url(wallstreet.jpg); /*pink.png*/
  background-size: cover;
  color: #313639; /*off black*/
  font-family:Monteserrat,Helvetica, sans-serif, serif;
}

div{
  margin-top: 2%;
  margin-bottom:2%;
  display: inLine-block;
  text-align:left;
  align-items:left;
}

#elliot{
    background-color: #fffff5;
    padding: 8%;
    width: 70%;
    height: 70%;
    text-align: center;
    
}
#alderson{
    background-color: #fffff5;
    padding: 8%;
    width: 70%;
    height: 70%;
    text-align: center;
    
}
p{
  margin-top:0;
  font-family:Monteserrat,Helvetica, sans-serif, serif;
  font-weight: 300;
  font-size: 2em;
  display:block;
}
h1{
  margin-top:0;
  font-family:Monteserrat,Helvetica, sans-serif, serif;
  font-weight: 700;
  font-size: 1.5em;
  display:block;
}
h2{
  margin-top:0;
  margin-bottom:5%;
  font-family:Monteserrat,Helvetica, sans-serif, serif;
  font-weight: 850;
  font-size: 3.75em;
  text-transform: uppercase;
  display:block;
}
h3{
  margin-top:0;
  margin-bottom:5%;
  font-family:Monteserrat,Helvetica, sans-serif, serif;
  font-weight: 1000;
  font-size: 4.75em;
  text-transform: uppercase;
  display:block;
}
ul{
  list-style-type: none;
}
li{
  color: #313639;
  font-size: 1em;
  font-family:Monteserrat,Helvetica, sans-serif, serif;
}
li span{
  color: #313639;
  font-weight: 800;
  font-size:2em;
  text-transform:uppercase;
}

span{
  color: #ee2461;
  margin-right: 1%;
  margin-left:1%;
  margin-top:1%;
  margin-bottom:5%;
}
img{
  margin-right: 1%;
}

.title{
  color: #ee2461;
  text-align:center;
}

.static{
  position:fixed;
  top:auto;
  bottom:0px;
  left:3%;
  right:auto;
  font-size:0.25em;

}

#aaplb2 {
	background-color: #E48681;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}

#aaplb {
	background-color: #E48681;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}
